.heading {
    margin: 0;
    padding: 0;
  }
  
  .heading.h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  .heading.h2 {
    font-size: 28px;
    font-weight: bold;
  }
  
  .heading.h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .heading.h4 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .heading.h5 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .heading.h6 {
    font-size: 14px;
    font-weight: bold;
  }
  